<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/basic.css">

	<script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
	<!-- 顶部导航栏 -->
	<div class="container">
		<div class="row  well" style="padding:0px;">
			 <div class="navbar-collapse">
				<div>
					<ul class="nav nav-pills pull-right">
						<li class="active"><a href="#">link</a></li>
						<li class="dropdown pull-right">
						     <a class="dropdown-toggle" data-toggle="dropdown" href="#">
						        {{ username }}  <span class="caret"></span>
						     </a>
						     <ul class="dropdown-menu">
						     	<!-- 设置关键词模型 -->
						        <li><a href="#">Setting</a></li>
						        <!-- 设置admin基本信息 -->
						        <li><a href="#">个人中心</a></li>
						        <li class="divider"></li>
						        <li><a href="#">Logout</a></li>
						     </ul>
						  </li>
					</ul>
				</div>
			 </div>
	    </div><!-- end row -->
   </div><!-- end container -->

<!-- 导航 -->
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
			<ul class="nav nav-pills nav-stacked" >
				
				<div class="panel-group" id="accordion">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#user">职工中心</a>
          					</h4>
          				</div><!-- end panel panel-default -->
          			
	          			<div id="user" class="panel-collapse collapse in">
	      			      <div class="panel-body">
	      			      	<ul>
		  			        	<li><a href="javascript:void(0)" class="js-user">职工中心</a></li>
		  			        	<li><a href="#">show</a></li>
		  			        	<li><a href="#">show</a></li>
		  			        </ul>
	      			      </div>
	          			</div><!-- end user  -->
          			</div><!-- end panel panel-default -->
						
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a id="test_test" data-toggle="collapse" data-parent="#accordion" href="#wav">音频文件</a>
	      					</h4>
	      				</div><!-- end panel-heading -->
	      			
		      			<div id="wav" class="panel-collapse collapse">
		  			      <div class="panel-body">
		  			      	<ul>
			  			        <li><a href="#">show</a></li>
			  			        <li><a href="#">show</a></li>
			  			        <li><a href="#">show</a></li>
			  			    </ul>
		  			      </div>
		      			</div><!-- end wav -->
	      			</div><!-- end panel panel-default -->
			    </div><!-- end panel-group -->
			</ul>
		</div><!-- end col-sm-4 -->
		<!-- content  -->
		<div class="col-sm-8 col-lg-8 col-md-8 col-xs-8" >
			<ul class="jumbotron js-content" id="js-content" style="padding:0;">
				
			</ul>

		</div><!-- end col-sm-8 -->
	</div><!-- end row -->
</div><!-- end container -->
</body>

<script type="text/javascript" src="static/main.js"></script>
</html>