body {
	padding-top:70px;
}








.divider {
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #cccccc;
}

.panel-body li.active {
	background-color:blue; 

}
.search {
	width:40px;
	padding:0;
	vertical-align: middle;
	-webkit-transition: width 0.4s ease, left 0.4s ease;
	transition: width 0.4s ease, left 0.4s ease;
	-moz-transition: width 0.4s ease, left 0.4s ease;
	-o-transition:width 0.4s ease, left 0.4s ease;
}
.search:hover, .search.active{
	width:190px;
}
.search .form-control {
 	height: 24px;
 	line-height: 24px;
 	width: 0px;
 	padding: 0;
}
.search .input-group-addon {
	height:22px;
	line-height: 22px;

	padding-top:0;
	padding-bottom:0;
}

.remove-position {
	position: absolute;
	z-index:12;
	top:8px;
	left:175px;
	display: none;
}


.form-group .btn-file {
	padding:0;
	margin:0;
	width:40px;
	height:34px;
}
.form-group .btn-file .upload {
	opacity: 0;
	width:40px;
	height:34px;
	position: relative;
	left:-5px;
	top:-20px;
	border:1px solid #ddd;
}



